#container_button_touch{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 100px;
}

#button_touch{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    width: 340px;
    height: 100px;
    font-family: 'Cormorant Garamond';
    color: #454545;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #BBA085;
    transition: 1s;
}

#button_touch:hover{
    background-color: #dcbd9e;
    cursor: pointer;
}